<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Password Reset Successfully</h1>
        <p>Your password has been reset successfully. You will be redirected to the login page in a few seconds.</p>
    </div>
    <script nonce="<%= nonce %>">
        setTimeout(function() {
            window.location.href = '/login';
        }, 5000);
    </script>
</body>
</html>
